.LocalColeta {
  text-align: center;
}
.LocalColeta button {
  margin-top: 10px;
  font-size: 20px;
}
.LocalColeta input {
  font-size: large;
}
.LocalColeta ul li {
  list-style-type: none;
  background-color: rgb(233, 233, 232);
  width: auto;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 20px;
}

.remove {
  background-color: rgb(222, 49, 83);
}

.LocalColeta .centralized {
  display: grid;
  align-items: center;
  justify-content: center;
}
.LocalColeta td {
  padding-left: 15px;
  padding-bottom: 5px;
}
.LocalColeta table {
  margin-top: 10px;
  margin-left: 50px;
}
